{% extends 'base.html.twig' %}


{% block body %}

	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey }}
		</div>
	{% endif %}

	<form method="post" class="container">
		<label for="username" class="form-label">Email</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required>

		<label for="password" class="form-label mt-2">Mot de passe</label>
		<input type="password" id="password" name="_password" class="form-control" required/>

		<input type="hidden" name="_target-path" value="/">

		<button type="submit" class="btn btn-primary mt-3">Se connecter</button>
	</form>
	<a href="/user/new" class="btn btn-link">Vous n'avez pas de compte ?</a>

{% endblock %}
