{% extends 'base.html.twig' %}


{% block body %}

	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey }}
		</div>
	{% endif %}

	<form method="post" class="container">
		<label for="username" class="form-label">Email</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required>

		<label for="password" class="form-label mt-2">Mot de passe</label>

		<div class="input-group">
			<input type="password" id="user_password" name="_password" class="form-control" required/>
			<span role="button" class="input-group-text">
				<a class"input-group-text" onclick="togglePassword()">
					<i class="bi bi-eye" id="eye"></i>
					<i class="bi bi-eye-slash d-none" id="eye-slash"></i>
				</a>
			</span>
		</div>

		<input type="hidden" name="_target-path" value="/">

		<button type="submit" class="btn btn-primary mt-3">Se connecter</button>
	</form>
	<a href="/user/new" class="btn btn-link">Vous n'avez pas de compte ?</a>
{% endblock %}
